<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Powered by {{ @VERSION }}</title>
	<style type="text/css">
		{{ Web::minify('templates/',array('style.css'),FALSE) }}
	</style>
</head>
<body>
<h1 style="text-align:center;">GroupDocs PHP SDK Samples</h1>
<div style="padding:10px;">
  
  <ul>
    <repeat group="{{ @links }}" value="{{ @link }}">
        <li>{{ @link }}</li>
    </repeat>
  </ul>
</div>

<center><span><a href="/about_framework.php">About FatFree framework</span></center>
</body>
</html>